body{
	/*display: flex;
	flex-direction: column;
*/
	background-color: #f2f2f2;
}

.yellow{
	transform: rotate(45deg);
	width: 8px;
	height: 900px;
	margin: 0 70px;
	background-color: yellow;
	/*animation-play-state: running;*/
}
.rotate1{
	transform: rotate(30deg);

}
div{
	position: absolute;
	/*float: left;*/
}
section{
	display: block;
}
.yellow:hover{
	/*the part for basic attribute*/
	
	/*display: inline-block;*/
	/*the part for animation*/
	
	/*animation-delay: .5s;
	animation-duration: 1s;
	animation-timing-function: ease-in-out;*/

	/*animation-direction: alternate;
	animation-iteration-count: infinite; */

/*so the animation play infite*/
	animation: slide 1s ease-in-out infinite alternate
	,fadein linear 3s infinite alternate;
	/*animation-play-state:paused;*/
	
}
.rectangle:hover{
	animation:slides 1s ease-in-out infinite alternate
	,fadein linear 3s infinite alternate ease-in-out;
	transform: scale(1.5);
}
p:hover{
	
	transform: scale(1.5);
}
.rectangle{
	width: 3em;
	height: 6.5em;
	transform: rotate(-45deg);
	/*transition: transform 2s ease-in-out;*/
}
.red{
	background-color: red;
}
.blue{
	background-color: blue;
}
.black{
	background-color: black;
}

.y1{
	top: -15em;
	left: 10em;

}
.y2{
	left: 16em;
	top: -9em;
}
.y3{
	left: 22em;
	top: -3em;
}
.y4{
	left: 28em;
	top: 3em;
}
.y5{
	left: 34em;
	top: 9em;
}
.y6{
	left: 40em;
	top: 15em;
}
.y7{
	left: 46em;
	top: 21em;
}
.r1{
	top: 2em;
	left: 27em;
}
.r2{
	top: 14em;
	left: 27em;
}
.r3{
	top: 16em;
	left: 37em;
}
.r4{
	top: 23.5em;
	left: 41.5em;
}
.r5{
	top: 23.5em;
	left: 53.3em;
}
.r6{
	top: 31em;
	left: 58em;
}
.bu1{
	left: 13em;
	top: 16em;
}
.bu2{
	left: 25em;
	top: 16em
}
.bu3{
	left: 27em;
	top: 26em;
}
.bu4{
	left: 27em;
	top: 38em;
}
.bu5{
	left: 27em;
	top: 50em;
}
.bu6{
	left: 35em;
	top: 54em;
}
.bk1{
	left: 9em;
	top: 20em;
}
.bk2{
	left: 21em;
	top: 20em;
}
.bk3{
	left:25em;
	top: 28em;
}
.bk4{
	top: 25.5em;
	left: 39.5em
}
.bk5{
	left: 37em;
	top: 40em;
}
.bk6{
	left: 45em;
	top: 44em;
}
.p1{
	position: absolute;
	left: 1em;
	top: 58em;
}
.p2{
	position: absolute;
	left: 15em;
	top: 58em;
}
.p3{
	position: absolute;
	left: 29em;
	top: 58em;
}
.p4{
	position: absolute;
	left: 43em;
	top: 58em;
}
p{
	display:block;
	font-family: 'Helvetica', sans-serif;
	width: 20em;
	height: 20em;
	font-size: 20px;
	transition: transform .5s ease-in-out;
}
@keyframes slide{ /*the animation for sliding motion*/
	from{
		transform: translateX(0) rotate(45deg);}
	to{
		transform:translateX(90px) rotate(45deg);
	}
}
@keyframes slides{ /*the animation for sliding motion*/
	from{
		transform: translateX(0) rotate(-45deg);}
	to{
		transform:translateX(90px) rotate(-45deg);
	}
}
@keyframes fadein{
	0%{background-color: yellow;}
	50%{background-color: red;}

	100%{background-color: blue;}
}
