body{
	height: 14000px;
	background-color: black;
	color: white;
}
p{
	
	color: white;
	text-align: center;
	
}


a{
	text-decoration:italic;
	color: white;
}
a:hover{
	color: grey;
}
/*-------------------------------------
all the classes go under here*/

.title{
	font-family: 'Anton', sans-serif;	
	font-weight: 50px;
	font-size: 150px;
	line-height: 120px;

}
.title1{
	border: solid black 10px;
	position: fixed;
	left: 42vw;
	top: 5vh;
	text-align: center;
}
.arrow{
	position: fixed;
	left: 42vw;
	top: 25vh;
}

.title2{
	position: fixed;
	left: 38vw;
	top: 10vh;
}
.title3{
	position: fixed;
	left: 10vw;
	top: 10vh;
}

.introduction{
	position: fixed;
	left: 30vw;
	top: 50vh;
	width: 30vw;
	height: 30vh
	margin: auto;
	display: flex;
}
/*asdhfafa;ofjeojfaew
ID GOES HERE*/
#leaves{
	width: 100vw;
	
	
}
#leaveslastone{
	width: 100vw;
	
	
}

#layout{
	background-image: url("images/layout.png");
	position: absolute;
	top: 10000px;
	
	width: 30vw;
	height: 40vh;
	z-index: 0;

}

#project1{
	position: absolute;
	top: 10080px;
	right: 15vw;
	width: 15vw;
}

#project2{
	position: absolute;
	top: 10080px;
	left: 12vw;
	width: 30vw;
}
#project3{
	position: absolute;
	top: 10515px;
	right: 18vw;
	width: 25vw;
}
#exercise1{
	position: absolute;
	top: 10110px;
	right: 41vw;
	width: 15vw;
}
#exercise2{
	position: absolute;
	top: 10350px;
	right: 41vw;
	width: 15vw
}
#exercise3{
	position: absolute;
	top: 10530px;
	left: 15vw;
	width: 20vw
}
#reading{

	position: absolute;
	top: 10520px;
	left: 40vw;
	width: 10vw
}

#project1:hover{
	transform: scale(1.2);
}
#project2:hover{
	transform: scale(1.2);
}
#project3:hover{
	transform: scale(1.2);
}
#exercise1:hover{
	transform: scale(1.2);
}
#exercise2:hover{
	transform: scale(1.2);
}
#exercise3:hover{
	transform: scale(1.2);
}
#reading:hover{
	transform: scale(1.2);
}

/*----------------------------
media query*/

@media only screen and (max-width: 375px) {
  #leaves{
  	width:100vh;
  	margin-left: -40vw;
  	transform: rotate(90deg);
  }
  .title{
  	font-size: 120px;
  	line-height: 25px;

  }
  .arrow{
  	top: 11vh;
  	left: 43.5vw;
  }
}


