body{
	height: 24000px;
	background-color: black;
	color: white;
}
p{
	
	color: white;
	text-align: center;
	
}



/*-------------------------------------
all the classes go under here*/

.title{
	font-family: 'Anton', sans-serif;	
	font-weight: 50px;
	font-size: 150px;
	line-height: 120px;

}
.title1{
	border: solid black 10px;
	position: fixed;
	left: 42vw;
	top: 5vh;
	text-align: center;
}
.arrow{
	position: fixed;
	left: 42vw;
	top: 25vh;
}

.title2{
	position: absolute;
	left: 38vw;
	top: 10000px;
}
.title3{
	position: absolute;
	left: 10vw;
	top: 16000px;
}

/*asdhfafa;ofjeojfaew
ID GOES HERE*/
#leaves{
	width: 100vw;
	
	
}

#layout{
	position: absolute;
	top: 12000px;
	left: 10vw;
	width: 78vw;
	height: 100vh;
}









