/*Body styles ---------*/
/*-------------------------*/

/*color pallete
Maroon#7b213c
Sea Green#9be1c4
*/
body {/*body is the selector*/
	background
	/*background is the property*/:#7b213c;
	/*pink is the value*/
}
{
	/*these are declaration blocks, put the rules of the style
	*/

}
header, footer{
	background:#7b213c;
}

/*body{
	color: darkblue
}*/
h1{
	color: green
	padding:10px;
	margin: 0 auto;
	display: inline-block;
}

.first{
	background: #7b213c;
	color:#9be1c4;


}
a{
	color: #9be1c4;
}
a:hover {
	text-decoration: none;
}
#first{
	background: white;
	width:150px;
	height: 40px;
	display: inline-block;
	margin: 0 auto;
}
p a{
	/*it will look for the a inside all p*/
	display: block;
}
p{
	display: inline-block;
	margin: 0 auto;
	border: 2px solid black;
	padding: 10px;

}
h1,h2,h3{
	/*grouping selection, all get the same thing*/
}
.second{
	text-decoration: none;
}

/*pseudo selector is interesting