div{
	text-align: center;
}

body{
	background-color: #fffcfc;
	height: 3000px;
}

/*-----------------------------------
class*/
.scroll{
	font-family: "Futura",bold;
	font-size:80px;
	display: inline-block;
	position: fixed;
	margin-left: 25vw;
	margin-top: 30vh;
}
.aug18{
	
	position: fixed;
	font-size: 40px;
	left:10px;
	top: 39vh;
	font-family: "futura",bold;
}
.aug18des{
	
	position: fixed;
	font-size: 15px;
	left:10px;
	top: 57vh;
	font-family: "Arial";
}

.toword{
	position: fixed;
	font-size: 40px;
	left:10px;
	top: 43vh;
	font-family: "futura",bold;
}
.aug19{
	position: fixed;
	font-size: 40px;
	left:10px;
	top: 47vh;
	font-family: "futura",bold;
}
.animation{
	z-index: -1;
	margin: 20vh -20vw;
	width: 400px;
	height: 400px;
	position: fixed;
}

@keyframes colorchange{
	from{background-color: #6da89d;}
	to{
		background-color: #6c8e7f;
	}

}
@keyframes smoke{
	0%{

	}
		;
}







